<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zazail Há Spa</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <%- include('partials/head')%>

</head>
<body>
    <%- include('partials/navegation')%>
    <div class="contenedor-padre" >
        <a class="boton" href="/citas">AGENDA TU CITA</a>
        <div class="rosa"><img src="img/zazil.jpg" alt=""></div>
    </div>

    <div class="horario">
        <div class="horarios">
            <h2>Horarios</h2>
            <br>
            <p>Lunes a Viernes: 9:00 AM - 6:00 PM y 3:30 PM - 7:00 PM</p>
            <p>Sabado: 10:00 AM - 2:00PM</p>
            <p>Domingos: Cerrado</p>
        </div>
        <div class="mapa">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3784.6211054185956!2d-97.39037862587017!3d18.455504682625474!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85c5bdc8cfa50c03%3A0x212c477f71cd6d7d!2sZazil%20H%C3%A1%20Spa%20Tehuac%C3%A1n!5e0!3m2!1ses-419!2smx!4v1720973948392!5m2!1ses-419!2smx" width="550" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
    <%- include('partials/footer')%>
</body>
</html>