<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zazail Há Spa</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/css/servic.css">
    <%- include('partials/head')%>
    
</head>

<body>
    <%- include('partials/navegation')%>
    <div class="servicios">
        <img class="servicio-imagen" src="/img/4be531d0-376a-42a5-927e-d57dcb288174.jpg" alt="Servicio">
        <div class="descripcion">
            <h3>Nombre del Servicio</h3>
            <p>Descripción breve del servicio...</p>
        </div>
    </div>
    <div class="servicios">
        <img class="servicio-imagen" src="/img/4be531d0-376a-42a5-927e-d57dcb288174.jpg" alt="Servicio">
        <div class="descripcion">
            <h3>Nombre del Servicio</h3>
            <p>Descripción breve del servicio...</p>
        </div>
    </div>
    <div class="servicios">
        <img class="servicio-imagen" src="/img/4be531d0-376a-42a5-927e-d57dcb288174.jpg" alt="Servicio">
        <div class="descripcion">
            <h3>Nombre del Servicio</h3>
            <p>Descripción breve del servicio...</p>
        </div>
    </div>
    <div class="servicios">
        <img class="servicio-imagen" src="/img/4be531d0-376a-42a5-927e-d57dcb288174.jpg" alt="Servicio">
        <div class="descripcion">
            <h3>Nombre del Servicio</h3>
            <p>Descripción breve del servicio...</p>
        </div>
    </div>
    <div class="servicios">
        <img class="servicio-imagen" src="/img/4be531d0-376a-42a5-927e-d57dcb288174.jpg" alt="Servicio">
        <div class="descripcion">
            <h3>Nombre del Servicio</h3>
            <p>Descripción breve del servicio...</p>
        </div>
    </div>
    <%- include('partials/footer')%>
</body>
</html>
