<footer>
    <h1>&copy;2024 inovvacode . All righs reserved</h1>
</footer>

<style>
    footer {
    background-color: rgb(180, 180, 180);
    text-align: center;
    padding: 6px;
}

footer h1{
    font-size: 15px;
}

</style>