<header>
<div class="acomodo">
    <div class="uno">
        <h1>Zazail Há Spa</h1>
    </div>
    <div class="dos">
        <nav>
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/servicios">Servicios</a></li>
                <li><a href="/productos">Productos</a></li>  
                <li><a href="#">Contactanos</a></li>
            </ul>
        </nav>
    </div>
</div>
</header>
<style>
    header {
    background-color: #aa9644;
    color: #fff;
    padding: 12px;
    height: 75px;
}

h1 {
    font-size: 12px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav li {
    margin-right: 20px;
    padding: 0 30px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-size: 19px;
    transition: color 0.3s;
}

.dos a:hover {
    color: #fae386;
}

.acomodo {
    display: flex;
    justify-content: space-between;
    /*background-color: #00ff00;*/
}

.acomodo .uno {
    /*background-color: #0074D9;*/
    margin-left: 13px;
}
.acomodo .uno h1{
    font-size: 32px;
}
.acomodo .dos {
    /*background-color: yellow;*/
    margin: auto;
    margin: 0.7% 0 0 15%;
}
</style>